<!-- views/partial/footer.ejs -->
<footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/javascript/pdf.min.js"></script>
    <script src="/javascript/pdf.min.worker.js"></script>
    <script src="/javascript/init.js"></script>
    <script src="/javascript/listGen.js"></script>
    <script src="/javascript/filesaver.js"></script>  
</footer>