<!-- views/partial/navbar.ejs -->
<div class="navbar">
    <nav>
        <ul class="navbar__ul">
            <li class="navbar__li"><a href="/">wordy</a></li>
            <li class="navbar__li"><a href="/lists">lists</a></li>
            <li class="navbar__li"><a href="/about">about</a></li>
        </ul>
    </nav>
</div>