<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <%- include('partials/navbar') %>
      <div class="container">
                <div style="flex: 1 0 auto; display: flex; align-items: center;">
                    <h1><%= title %></h1>
                </div>
        <div class="about">
            <ul>                
                <li>list generation is not intended to process a robust dictionary.</li>
                <li>it is intended to generate supplementary lists on the fly from pdfs and text files.</li>
                <li>it is all done on the front end, nothing is ever uploaded; it works cached.</li>
                <li>words are filtered against a google top 10,000 word list english usa.</li>
                <li>accented characters, special characters, and numbers are filtered.</li>
            </ul>
        </div>
      </div>
  </body>
</html>