<!DOCTYPE html>
<html>

<head>
  <title>
    <%= title %>
  </title>
  <link rel='stylesheet' href='/stylesheets/reset.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <div id="loaddiv" style="z-index: 2; background: white; position: absolute; height: 100vh; width: 100vw; display: block;"></div>
  <%- include('partials/navbar') %>
    <div class="container">
      <div>
        <h1>
          <%= title %>
        </h1>
        <p style="text-align: center">list generation</p>
      </div>
      <form>
        <div class="col">
          <div class="fancy">
            <input type="checkbox" name="pronoun-check" id="pronoun-check" />
            <label for="pronoun-check">Checkbox</label>
            <h6><dfn data-info="Only returns words that are capitalized, or uppercase. Useful if you're looking for names and places">Capitalized/CAPS only</dfn></h6>
          </div>
          <div class="quantity">
            <h6><dfn data-info="Appends 0-9 on all words, 1: 0-9, 2: 00-99, 3:000-999, etc..">append digits [0-9]</dfn></h6>
            <input type="number" min="0" max="4" step="1" value="0" id="number-check">
          </div>
        </div>
        <div class="col">
          <ul class="filters">
            <li>
              <label>
                <input type="checkbox" id="special-check">
                <span class="icon"><i class="fa fa-check"></i></span>
                <dfn data-info="Appends and prepends one of each special character on each word. ! @ $ # * ">special characters</dfn>
              </label>
            </li>
            <li>
              <label>
                <input type="checkbox" id='year-check'>
                <span class="icon"><i class="fa fa-check"></i></span>
                <dfn data-info="Appends year ranges to each word.">append years</dfn>
              </label>
              <div class="sub-group">
                <label>
                  <input type="radio" name='sub' id="four-digit" checked>
                  <span class="icon sub-radio"><i class="fa fa-dot-circle-o"></i></span>
                  <dfn data-info="4 year format: 1987 -> 1987">YYYY</dfn>
                </label>
              <label>
                  <input type="radio" name='sub' id="two-digit">
                  <span class="icon sub-radio"><i class="fa fa-dot-circle-o"></i></span>
                  <dfn data-info="2 year format: 1987 -> 87">YY</dfn>
              </label>
              </div>
              <div class="sub-group">
                <label class="range-label">
                  <input type="text" name='sub' >
                  <dfn data-info="default 1950">from: </dfn>
                  <textarea id="from" placeholder="0000" rows="1" cols="4" maxlength="4" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></textarea>        
                </label>
                <label class="range-label">
                  <input type="number" name='sub'>
                  <dfn data-info="default 2016">to: </dfn>
                  <textarea  id="to" placeholder="0000" rows="1" cols="4" maxlength="4" onkeypress='return event.charCode >= 48 && event.charCode <= 57'></textarea>        
                </label>
              </div>
            </li>
            <li style="flex-flow: row;">
              <label>
                <input type="checkbox" id='leet-check'>
                <span class="icon"><i class="fa fa-check"></i></span>
                <dfn data-info="leet speak = 1337 5p34k | edit to change filters">1337 5p34k</dfn>
              </label>
              <a id="leet-edit">(edit)</a>
            </li>
          </ul>
        </div>
      </form>

      <div class=wrapper>
        <div class="loader">
          <i id='loader' class="fa fa-spinner fa-pulse fa-3x fa-fw"></i>
          <span class="sr-only">Loading...</span>
        </div>
        <div class='file__upload' id="btn-file">
          <input id='file' type='file' class="file__type" accept=".pdf, .txt" />
          <i class='fa fa-upload'></i>
        </div>
        <a id='downloadAnchorElem' class="file__download"><i class= 'fa fa-download'></i></a>
        <div style="flex: 1 0 100%; display:flex">
          <textarea placeholder="PDF or TXT." cols='35' rows='1' id="text-area"></textarea>
        </div>
      </div>
    </div>


    <div class="modal-overlay">
      <div class="modal">
        <a class="close-modal">
          <svg viewBox="0 0 20 20">
            <path fill="#222222" d="M15.898,4.045c-0.271-0.272-0.713-0.272-0.986,0l-4.71,4.711L5.493,4.045c-0.272-0.272-0.714-0.272-0.986,0s-0.272,0.714,0,0.986l4.709,4.711l-4.71,4.711c-0.272,0.271-0.272,0.713,0,0.986c0.136,0.136,0.314,0.203,0.492,0.203c0.179,0,0.357-0.067,0.493-0.203l4.711-4.711l4.71,4.711c0.137,0.136,0.314,0.203,0.494,0.203c0.178,0,0.355-0.067,0.492-0.203c0.273-0.273,0.273-0.715,0-0.986l-4.711-4.711l4.711-4.711C16.172,4.759,16.172,4.317,15.898,4.045z"></path>
          </svg>
        </a>
        <!-- close modal -->

        <div class="modal__content">
          <div class="svg svg__welcome"></div>
          <div class="filters" style="width: 100%">
            <label class="label-modal">
              <input type="text" >
              <span>a</span><span>-</span>
              <textarea rows="1" cols="1" maxlength="1" id="a" >4</textarea>        
            </label>
            <label class="label-modal">
              <input type="text" >
              <span>s</span><span>-</span>
              <textarea rows="1" cols="1" maxlength="1" id="s">5</textarea>        
            </label>
            <label class="label-modal">
              <input type="text" >
              <span>t</span><span>-</span>
              <textarea rows="1" cols="1" maxlength="1" id="t" >7</textarea>        
            </label>
            <label class="label-modal">
              <input type="text" >
              <span>e</span><span>-</span>
              <textarea rows="1" cols="1" maxlength="1" id="e" >3</textarea>        
            </label>
            <label class="label-modal">
              <input type="text">
              <span>o</span><span>-</span>
              <textarea rows="1" cols="1" maxlength="1"  id="o" >0</textarea>        
            </label>
            <label class="label-modal">
              <input type="text" >
              <span>l</span><span>-</span>
              <textarea rows="1" cols="1" maxlength="1" id="l">1</textarea>        
            </label>
          </div>
        </div>
        <!-- content -->
      </div>
      <!-- modal -->
    </div>
    <!-- overlay -->

    <%- include('partials/footer') %>
</body>

</html>