<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
    <%- include('partials/navbar') %>
        <div class="container lists">
            <div style="margin: 0 20px; max-width: 800px;">
                <h1>
                    <%= title %>
                </h1>
                <p>dictionary word lists extracted from popular media (novels/transcripts); this is just meta data, I'm not providing any copyright material.</p>                
            </div>
            <div style="width: 90%; max-width: 800px;">
                <p class="pheader">Niche Lists</p>
                <div class="row">
                    <ul class="col">
                        <li><a href="/lists/harry_potter.txt" download>Harry Potter</a>(142kb)</li>
                        <li><a href="/lists/monty_python.txt" download>Monty Python</a>(38kb)</li>
                        <li><a href="/lists/neil_gaiman.txt" download>Neil Gaiman</a>(194kb)</li>
                        <li><a href="/lists/big_bang_theory.txt" download>Big Bang Theory</a>(123kb)</li>
                    </ul>
                    <ul class="col">
                        <li><a href="/lists/game_of_thrones.txt" download>Game Of Thrones</a>(163kb)</li>
                        <li><a href="/lists/the_simpsons.txt" download >The Simpsons</a>(339kb)</li>
                        <li><a href="/lists/tolkien.txt"download >JRR Tolkien</a>(98kb)</li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <ul class="col">
                    <li class="lheader">General Lists</li>
                    <li><a href="/lists/xsplit.txt" download >xSplit</a>(8.53mb)</li>
                    <li><a href="/lists/rockyou-75.txt" download >rockyou-75</a>(468kb)</li>
                    <li><a href="/lists/darkc0de.txt" download >darkc0de</a>(14.3mb)</li>
                    <li><a href="/lists/10_million_password_list_top_1000000.txt" download >top_1000000</a>(8.13mb)</li>
                </ul>
            </div>
        </div>
</body>
</html>
