@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
div {
  transition: all 500ms ease; }

html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Source Code Pro', monospace; }

textarea {
  outline: none;
  resize: none;
  margin: auto;
  font-size: 18px;
  border-color: #FFFFFF;
  text-align: center; }

a {
  color: #1abc9c; }
  a:hover {
    color: #e74c3c; }

p {
  font-size: 1.1em; }

h1 {
  font-size: 3em;
  margin-bottom: 10px;
  text-align: center; }

.text--center {
  text-align: center; }

.container {
  height: 100%;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center; }

#hold {
  display: none; }

#leet-edit {
  opacity: 0;
  transition: opacity 250ms ease-out;
  cursor: pointer; }

.loader {
  position: relative; }
  .loader i {
    visibility: hidden;
    position: absolute;
    top: -100px;
    right: -90px; }

ul {
  -webkit-padding-start: 0; }

.navbar {
  padding: 10px 0;
  position: absolute;
  display: inline-block;
  top: 0;
  left: 0;
  width: 100%; }
  .navbar ul {
    -webkit-padding-start: 40px; }
  .navbar__li {
    display: inline-block;
    padding: 5px;
    margin-right: 6px;
    margin-left: 6px;
    list-style: none; }
    .navbar__li a {
      text-decoration: none; }

.pheader {
  flex: 1 0 100%;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7px; }

.lheader {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 7px;
  justify-content: center !important; }

.about {
  flex: 2 0 auto; }
  .about li {
    text-align: center;
    margin-bottom: 25px;
    list-style: none; }
  .about p {
    font-size: 16px; }

.wrapper {
  width: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap; }

.file__type {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  cursor: pointer; }

.file__download {
  padding: 10px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  overflow: hidden;
  transition: all 1s;
  color: #fff;
  background-color: #cccccc;
  font-size: 24px; }
  .file__download i {
    color: #fff; }
  .file__download:visited {
    color: #fff; }

.file__upload {
  padding: 10px;
  height: 30px;
  width: 30px;
  border-radius: 4px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #fff;
  overflow: hidden;
  transition: all 1s;
  color: #fff;
  background-color: #e74c3c;
  font-size: 24px; }

textarea::-webkit-input-placeholder {
  color: #a1a1a1;
  font-weight: 400; }

.sub-group {
  display: flex;
  transition: opacity 250ms ease-out;
  opacity: 0;
  height: 0;
  overflow: hidden;
  margin-left: 20px;
  margin-top: 5px; }
  .sub-group label {
    padding-right: 5px; }
  .sub-group textarea {
    color: #1abc9c;
    font-weight: bold; }

.sub-radio {
  border-radius: 50% !important; }

.filters input {
  display: none; }

.filters .icon {
  text-align: center;
  display: inline-block; }

.filters .icon .fa {
  visibility: hidden; }

.filters input:checked + .icon .fa {
  visibility: visible; }

.filters input:checked + .icon {
  background-color: #1abc9c;
  border-color: #16a085 #1abc9c #1abc9c #16a085; }

.filters input {
  display: inline\9; }

.filters .icon {
  display: none\9; }

.filters {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none; }

.filters label {
  cursor: pointer;
  font-size: 17px; }

.filters input {
  margin: 0 .1em; }

.filters .icon {
  background: #ccc;
  border: 1px solid;
  border-color: #a1a1a1 #bcbcbc #bcbcbc #a1a1a1;
  border-radius: .3em;
  text-align: center;
  font-size: .8em;
  color: #FFFFFF;
  margin: 0 .1em;
  height: 1em;
  width: 1em;
  padding: 0.15em;
  line-height: 1.1em; }

.filters .radio {
  border-radius: 50%; }

.filters {
  list-style: none;
  padding: 8px;
  display: inline-block;
  margin: auto; }

.filters li {
  margin-bottom: 1em;
  margin-top: 1em; }

.fancy {
  margin: auto;
  display: flex;
  align-items: center; }
  .fancy h6 {
    padding-left: 5px;
    font-size: 17px; }
  .fancy input[type="checkbox"] {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    padding: 0; }
  .fancy input[type="checkbox"] + label {
    position: relative;
    display: inline-block;
    overflow: hidden;
    text-indent: -9999px;
    background: #ccc;
    width: 40px;
    height: 24px;
    border-radius: 100px;
    cursor: pointer;
    transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9); }
    .fancy input[type="checkbox"] + label:before {
      content: '';
      position: absolute;
      display: block;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: #1abc9c;
      border-radius: 100px;
      transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9) 0.1s;
      transform: translateZ(0) scale(0); }
    .fancy input[type="checkbox"] + label:after {
      content: '';
      position: absolute;
      top: 2px;
      left: 2px;
      display: block;
      height: 20px;
      width: 20px;
      background: white;
      border-radius: 100%;
      box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2);
      transition: all 0.3s cubic-bezier(1, 0.1, 0, 0.9);
      transform: translateZ(0) translateX(0); }
  .fancy input[type="checkbox"]:checked + label {
    background: #1abc9c; }
    .fancy input[type="checkbox"]:checked + label:after {
      left: calc(100% - 22px);
      transform: translateZ(0); }

.col {
  width: 90%;
  display: inline-flex;
  justify-content: space-around;
  flex-flow: column;
  padding: 0 10px; }
  .col li {
    list-style: none;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
    justify-content: space-between; }
    .col li a {
      text-decoration: none; }

.row {
  display: inline-flex;
  justify-content: space-around;
  flex-flow: row; }

.quantity {
  position: relative;
  display: flex;
  align-items: center;
  margin: auto; }
  .quantity h6 {
    order: 2;
    font-size: 17px;
    padding-left: 5px; }

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input[type=number] {
  -moz-appearance: textfield; }

.quantity input {
  background-color: #cccccc;
  font-size: 16px;
  font-weight: bold;
  width: 17px;
  height: 24px;
  line-height: 1.65;
  float: right;
  display: block;
  padding: 0;
  margin: 0;
  padding-left: 7px;
  border: 1px solid #eee;
  color: #FFFFFF; }

.quantity input:focus {
  outline: 0; }

.quantity-nav {
  float: left;
  position: relative;
  height: 38px; }

.quantity-button {
  padding-right: 3px;
  position: relative;
  cursor: pointer;
  width: 20px;
  text-align: center;
  color: #cccccc;
  font-size: 13px;
  line-height: 1.7;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none; }
  .quantity-button i {
    font-size: 14px; }

.quantity-button.quantity-up {
  position: absolute;
  height: 50%;
  top: 1px;
  right: 0; }

.quantity-button.quantity-down {
  position: absolute;
  bottom: 3px;
  height: 50%;
  right: 0; }

form {
  padding: 20px;
  border: solid 1px #cccccc;
  display: flex;
  width: 90%;
  justify-content: space-around; }

.center, .content {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute; }

.load, .content .reset {
  border: 4px solid #c4c4c4;
  background-color: #cccccc;
  color: #FFFFFF;
  font-size: 1.2em;
  cursor: pointer;
  width: 90px;
  margin: auto;
  height: auto;
  padding: 10px;
  border-radius: 0;
  transition: all 500ms; }

.bar {
  width: 155px;
  height: 3px;
  padding: 0;
  background-color: rgba(225, 59, 59, 0.7);
  border: none; }
  .bar .loader {
    width: 20px;
    height: 3px;
    background-image: linear-gradient(to right, rgba(250, 250, 250, 0.3), #fff);
    animation: slide infinite .75s linear; }
  .bar:hover {
    padding: 0;
    background-color: rgba(225, 59, 59, 0.7); }

@keyframes slide {
  from {
    margin-left: -20px; }
  to {
    margin-left: 135px; } }

.content h1 {
  text-align: center;
  font-size: 1.6em; }

.content .reset {
  text-align: center;
  margin-top: 1em; }

.action {
  height: 47px; }

.range-label {
  display: inline-flex;
  align-items: center; }

dfn {
  cursor: help;
  font-style: normal;
  position: relative; }

dfn::after {
  content: attr(data-info);
  display: inline;
  position: absolute;
  top: 22px;
  left: 0;
  opacity: 0;
  width: 230px;
  font-size: 13px;
  font-weight: 700;
  line-height: 1.5em;
  padding: 0.5em 0.8em;
  background: rgba(0, 0, 0, 0.8);
  color: #fff;
  pointer-events: none;
  /* This prevents the box from apearing when hovered. */
  transition: opacity 250ms, top 250ms; }

dfn::before {
  content: '';
  display: block;
  position: absolute;
  top: 12px;
  left: 20px;
  opacity: 0;
  width: 0;
  height: 0;
  border: solid transparent 5px;
  border-bottom-color: rgba(0, 0, 0, 0.8);
  transition: opacity 250ms, top 250ms; }

dfn:hover {
  z-index: 2; }

dfn:hover::after,
dfn:hover::before {
  opacity: 1; }

dfn:hover::after {
  top: 30px; }

dfn:hover::before {
  top: 20px; }

.lists .col {
  width: auto;
  margin: auto; }
  .lists .col li {
    flex-flow: row; }

.lists .row {
  width: 100%;
  margin-left: auto;
  margin-right: auto; }

.modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  backface-visibility: hidden;
  transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), visibility 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
  .modal-overlay.active {
    opacity: 1;
    visibility: visible; }

.modal {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin: 0 auto;
  background-color: #fff;
  width: 200px;
  max-width: 75rem;
  min-height: 20rem;
  padding: 2rem;
  border-radius: 3px;
  opacity: 0;
  overflow-y: auto;
  visibility: hidden;
  backface-visibility: hidden;
  transform: scale(1.2);
  transition: all 0.6s cubic-bezier(0.55, 0, 0.1, 1); }
  .modal__content {
    width: 100%; }
  .modal .close-modal {
    position: absolute;
    cursor: pointer;
    top: 5px;
    right: 15px;
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1), transform 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s; }
    .modal .close-modal svg {
      width: 1.75em;
      height: 1.75em; }
  .modal .modal-content {
    opacity: 0;
    backface-visibility: hidden;
    transition: opacity 0.6s cubic-bezier(0.55, 0, 0.1, 1);
    transition-delay: 0.3s; }
  .modal.active {
    visibility: visible;
    opacity: 1;
    transform: scale(1); }
    .modal.active .modal-content {
      opacity: 1; }
    .modal.active .close-modal {
      transform: translateY(10px);
      opacity: 1; }

.label-modal {
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 40px !important; }
  .label-modal textarea {
    color: #e74c3c;
    font-size: 40px !important;
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro'; }

/*# sourceMappingURL=style.css.map */